In [2]:
import pandas as pd
import numpy as np 
Personas ={ 
'Nombre': ['Juan', 'Ana', 'Luis', 'Laura', 'Pedro'],   
'edad':[25, 18, 45, 32, None], 
'Ciudad': ['Madrid', 'Barcelona', 'Sevilla', 'Valencia', '']
}

df=pd.DataFrame(Personas)
print(df.head()) #Muestra las primeras 3 filas

  Nombre  edad     Ciudad
0   Juan  25.0     Madrid
1    Ana  18.0  Barcelona
2   Luis  45.0    Sevilla
3  Laura  32.0   Valencia
4  Pedro   NaN

In [3]:
#Elimina las filas con valores nulos

df['edad'] = df['edad'].fillna(0) #Permite remplazar valores Nan por 0 #Reemplaza los valores nulos por 0

 #Reemplaza los valores nulos por Bilbao
print(df.head()) #Muestra las primeras 3 filas

  Nombre  edad     Ciudad
0   Juan  25.0     Madrid
1    Ana  18.0  Barcelona
2   Luis  45.0    Sevilla
3  Laura  32.0   Valencia
4  Pedro   0.0

In [ ]:
df['edad']=df['edad']/2 #Divide la columna edad entre 2, pero quiero enfatizar en que puedo remplazar valores por datoos que me interesen
df.rename(columns={'edad':'edad/2'}, inplace=True) #Cambia el nombre de la columna edad por edad/2
print(df.head()) #Muestra las primeras 3 filas

  Nombre  edad/2     Ciudad
0   Juan    12.5     Madrid
1    Ana     9.0  Barcelona
2   Luis    22.5    Sevilla
3  Laura    16.0   Valencia

In [8]:
print(df.info()) #Muestra información del dataframe
print(df.describe()) #Muestra estadísticas del dataframe
print(df.columns) #Muestra las columnas
print(df.shape) #Muestra las dimensiones del dataframe
print(df.dropna()) #Elimina las filas con valores nulos
print(df.size) #Muestra el tamaño del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  5 non-null      object
 1   edad    5 non-null      int64
 2   Ciudad  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None
            edad
count   5.000000
mean   28.600000
std    10.454664
min    18.000000
25%    23.000000
50%    25.000000
75%    32.000000
max    45.000000
Index(['Nombre', 'edad', 'Ciudad'], dtype='object')
(5, 3)
  Nombre  edad     Ciudad
0   Juan    25     Madrid
1    Ana    18  Barcelona
2   Luis    45    Sevilla
3  Laura    32   Valencia
4  Pedro    23     Bilbao
15

In [9]:
#Normalización de datos
#El primer metodo se llama escalado simple de caracteristica, simplemente se divide cada valor
#  por el valor maximo de la columna
#df['edad/2']=df['edad/2']/df['edad/2'].max()

#El segundo metodo se llama Min-Max, se resta el valor minimo de la columna 
# y se divide por la diferencia
minimo=df['edad'].min()
maximo=df['edad'].max()
df['edad']=(df['edad']-minimo)/(maximo-minimo) #Min-Max

#El tercer metodo se llama Z-score, se resta la media(promedio) de la columna 
# y se divide por la desviación estándar
df["edad"]=(df["edad"]-df["edad"].mean())/df["edad"].std() #Z-score

print(df.head()) #Muestra las primeras 3 filas

  Nombre      edad     Ciudad
0   Juan -0.434099     Madrid
1    Ana -1.041838  Barcelona
2   Luis  1.302298    Sevilla
3  Laura  0.173640   Valencia
4  Pedro       NaN

In [4]:
#Bining en Python con Pandas se utiliza para convertir una variable numérica en una variable categórica

bins=np.linspace(min(df['edad']),max(df['edad']),4) #Divide la columna edad en 4 partes

df['edad-binned']=pd.cut(df['edad'],bins,labels=['Bajo','Medio','Alto'],include_lowest=True) #Crea una nueva columna llamada edad-binned con los valores Bajo, Medio y Alto
print(df.head()) #Muestra las primeras 3 filas

  Nombre  edad     Ciudad edad-binned
0   Juan  25.0     Madrid       Medio
1    Ana  18.0  Barcelona       Medio
2   Luis  45.0    Sevilla        Alto
3  Laura  32.0   Valencia        Alto
4  Pedro   0.0                   Bajo

In [16]:
espacio =np.linspace(12,36,13)
print(espacio) #Muestra los valores de la variable espacio

[12. 14. 16. 18. 20. 22. 24. 26. 28. 30. 32. 34. 36.]

In [5]:
#Codificación one hot en Python con Pandas
df=pd.get_dummies(df,columns=['edad-binned']) #Crea columnas con los valores de la columna edad-binned

print(df.head()) #Muestra las primeras 3 filas

  Nombre  edad     Ciudad  edad-binned_Bajo  edad-binned_Medio  \
0   Juan  25.0     Madrid             False               True
1    Ana  18.0  Barcelona             False               True
2   Luis  45.0    Sevilla             False              False
3  Laura  32.0   Valencia             False              False
4  Pedro   0.0                         True              False

   edad-binned_Alto
0             False
1             False
2              True
3              True
4             False